<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" ></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script> 
    <style>
        .jumbotron{
            background-color: cadetblue;
        }
    </style>    

   

    <div class="jumbotron text-center">
    <h1 contenteditable="true">  RUCHIKA</h1>
   
    <p> your tagline</p>
        
    </div>

    <div class="containerfliud">
        <div class="row">
             <div class="col-sm-4">
             <h3> Aries</h3>
             <img src="../assets/aries.jpg"   class="Img-circle"  height="200" width="200">
             <p> Aries (♈︎) (Greek: Κριός Kriós, Latin for "ram") is the first astrological sign in the zodiac, spanning the first 30 degrees of celestial longitude (0°≤ λ <30°), and originates from the Aries constellation. Under the tropical zodiac, the Sun transits this sign from approximately March 21</p> 
            
             </div>
        
             <div class="col-sm-4">
                <h3> libra</h3>
                <img src="../assets/aries.jpg"  height="200" width="200">
                <p> Libra is the cardinal modality of the three air signs, the others being Gemini and Aquarius. The main connotations of planets under this sign are sociable, rational, and detached when dealing with situations.[9] Libra is symbolized by the scales and is associated with the Roman deity Iustitia.</p> 

                
            </div>
            <div class="col-sm-4">
                <h3> scorpian </h3>
                <img src="../assets/aries.jpg"  height="200" width="200">
                <p> Libra (♎︎) (Greek: Ζυγός Zygós, Latin for "scales") is the seventh astrological sign in the zodiac. It spans 180°–210° celestial longitude.[2] The Sun transits this sign on average between September 22 and October 23.[3][4] The symbol of the scales is based on the Scales of Justice held by Themis</p> 
                
              
            </div>



        </div>
    </div>     
           

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
